<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://res.cloudinary.com/dolrtgr8w/image/upload/v1620983844/International-Union-of-Cinemas-Calls-for-Open-Standards-in-the-Cinema-Industry_bxfiiw.jpg');height: 300px; background-size: cover;">
  <div class="container text-center">
    <h1>My Lists</h1>
  </div>
</div>

<div class="container">
  <ul>
    <% @lists.each do |list| %>
      <div class="card-list" style="background-image:url('<%= cl_image_path list.photo.key, height: 300, width: 400, crop: :fill %>')">
        <li><%= link_to list.name, list_path(list) %></li>
      </div>
    <% end %>
  </ul>
</div>